p {
    height: 20px;
    background: lightgrey;
    padding: 20px;
    margin: auto;
    border: black solid 2px;
}

.block1 {
    /*border: black solid 1px;*/
    /* border-top: black solid 1px; */
    /* border-right: black solid 1px;*/
    border-bottom: black solid 1px;
    /*border-left: black solid 1px;*/
}

.block2 {
    /*border: black solid 1px;*/
    border-top: black solid 1px;
    /* border-right: black solid 1px;*/
    border-bottom: black solid 1px;
    /*border-left: black solid 1px;*/
}

.block3 {
    /*border: black solid 1px;*/
    border-top: black solid 1px;
    /* border-right: black solid 1px;*/
    /*border-bottom: black solid 1px;*/
    /*border-left: black solid 1px;*/
}

